<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Flask</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"">
</head>
<body>
    <br/>
    <h1 class="titulo">Servidor de fusión de imagenes</h1>
    <div class="container mt-5">
        <div class="card-container">
            <div class="card card-1">
                <div class="card-body">
                    <h3>{{ mensaje }}</h3>
                    {% if image_src %}
                    <button id="reload-button" class="btn btn-success">recibir imagen</button>
                    <div class="image-container card">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='Images/imagen_recibida.png') }}" class="img-fluid" alt="Imagen recibida">
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    <button id="reload-button" class="btn btn-success">recibir imagen</button>
                </div>
            </div>
            
            <div class="card card-2">
                <div class="card-body">
                    <h2>Fuente de video</h2>
                    <input type="text" id="fuenteVideo" class="form-control mb-2" placeholder="192.168.1.3:4747">
                    <button onclick="agregarVideo()" class="btn btn-success mb-2">Obtener video</button>
                    <div id="videoContainer"></div>
                </div>
            </div>
            
            <div class="card card-3">
                <div class="card-body">
                    <h2>Fuente de video</h2>
                    <img src="{{ url_for('video_feed') }}" class="img-fluid" alt="Video en vivo" id="video" width="800" height="600">
                    <button onclick="detenerVideo()" class="btn btn-danger">Detener Video</button>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
